.contato-section {
  padding: 5rem 0;
}

.contato-content h1 {
  font-size: 4rem;
  font-family: var(--primary-font);
  padding-bottom: 1rem;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;
}

.contato-form textarea {
  resize: none;
}

.contato-form .button {
  width: 100%;
}

.contato-form input:nth-child(n + 2),
.contato-form textarea {
  margin-top: 0.75rem;
}

.contato-form input:focus,
.contato-form textarea:focus,
.contato-form input:hover,
.contato-form textarea:hover {
  outline: none;
  box-shadow: 0 0 0 2px #46712d;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.25rem;
  border: 0.15rem solid var(--terciary-color);
  color: var(--secondary-color);
  transition: 0.3s;
}

.contato-form .button {
  cursor: pointer;
  margin-top: 1rem;
}

.result {
  margin-top: 0.5rem;
}

.sucess {
  color: var(--terciary-color);
}

.error {
  color: #d30000;
}

.outros-contatos h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.outros-contatos p {
  margin-bottom: 1rem;
}

.outros-contatos li {
  margin-top: 0.5rem;
}

.outros-contatos a {
  transition: 0.3s;
}

.outros-contatos a:hover {
  color: var(--terciary-color);
}

.outros-contatos a,
.outros-contatos p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.outros-contatos svg {
  fill: var(--terciary-color);
  max-width: 1.5rem;
}

@media (max-width: 850px) {
  .contato-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
